html{
    scroll-behavior: smooth;
}
main {
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
}
ol{
    padding-top: 30px;
    color: #FFFFFF;
    position: relative;
}
li{
    color: #FFFFFF;
    position: relative;
}
h3 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: #FFFFFF;
    position: relative;
}

h6 {
    position: relative;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 8px;
}

p.defineBlockchain {
    position: relative;
    font-weight: lighter;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: smaller;
    text-align: center;
    margin: 0%;
}

p.effectsBlockchain {
    position: relative;
    font-weight: lighter;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: smaller;
    text-align: center;
    margin: 0%;
}

p.midigateEffects {
    position: relative;
    font-weight: lighter;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: smaller;
    text-align: center;
    margin: 0%;
}

div.bottomParagraph {
    height: 700px;
}

div.blockchainbgicon {
    position: absolute;
    right: 0;
    overflow: hidden;
    width: 300px;
    height: 300px;
    opacity: 30%;
    color: #2bd9fe;
}

div.blockchainbgicon2 {
    display: inline;
    position: absolute;
    width: 300px;
    height: 300px;
    opacity: 30%;
    color: #2bd9fe;
    margin-top: 600px;
    margin-left: -100px;
    animation: spin 5s 2;
}

div.testing {
    position: relative;
    animation: spin 5s 2;
    animation-iteration-count: 10;
}

div.pointicon{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.definitionButton {
    background-color: #DBA60E;
    color: #FFFFFF;
    border-radius: 10px;
    border-color: #DBA60E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.pdefinitionAnimation {
    position: relative;
    font-weight: lighter;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: smaller;
    text-align: center;
    margin: 0%;
    animation: fade 2s linear forwards;
}


.iconify.blockchainicon2 {
    position: relative;
    color: #2bd9fe;
    width: 100%;
    height: 50px;

}

.blockchainicon3 {
    position: relative;
    color: #2bd9fe;
    width: 100%;
    height: 100px;
}

#blockchainbackground {
    width: 100%;
    height: 100%;
}

#defbutton {
    display: flex;
    justify-content: center;
}

/* animations */

@keyframes fade {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ===================  Table  Stuff ===================== */
.table{
    /* height: 100%; */
    width: 380px;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 20px;
    left: 2px;
}
#q-graph {
    display: block;
   /* fixes layout wonkiness in FF1.5 */
    position: relative;
    width: 370px;
    height: 300px;
    margin: 1.1em 0 0;
    padding: 0;
    background: transparent;
    font-size: 11px;
}
#q-graph caption {
    caption-side: top;
    width: 390px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    top: -40px;
    position: absolute;
    /* z-index: 10; */
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 10px;
    text-align: center;
}
#q-graph tr, #q-graph th, #q-graph td {
    position: absolute;
    bottom: 0;
    width: 60px;
    /* z-index: 2; */
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFFFFF;
}
#q-graph td {
    transition: all 0.3s ease;
}
#q-graph td:hover {
    background-color: #4d4d4d;
    opacity: 0.9;
    color: white;
}
#q-graph thead tr {
    left: 100%;
    top: 50%;
    bottom: auto;
    margin: -2.5em 0 0 5em;
}
#q-graph thead th {
    width: 7.5em;
    height: auto;
    padding: 0.5em 1em;
}
#q-graph thead th.sent1, #q-graph thead th.sent2,#q-graph thead th.sent3, #q-graph thead th.sent4  {
    top: 0;
    left: 0;
    line-height: 2;
}
#q-graph thead th.paid1,#q-graph thead th.paid2,#q-graph thead th.paid3,#q-graph thead th.paid4 {
    top: 2.75em;
    line-height: 2;
    left: 0;
}
#q-graph tbody tr {
    height: 296px;
    padding-top: 2px;
    border-right: 1px dotted #c4c4c4;
    color: #aaa;
}
#q-graph #q1 {
    left: 100px;
    background-color: #8eecf5;
}
#q-graph #q2 {
    left: 170px;
    background-color: #8eecf5;
}
#q-graph #q3 {
    left: 240px;
    background-color: #8eecf5;
}
#q-graph #q4 {
    left: 310px;
    border-right: none;
    background-color: #8eecf5;
}
#q-graph tbody th {
    bottom: -2em;
    vertical-align: top;
    font-weight: normal;
    color: #333;
}
#q-graph .bar {
    width: 30px;
    border: 1px solid;
    border-bottom: none;
    color: #000;

}
#q-graph .bar p {
    padding: 0;
    opacity: 0.4;
    width: 100%;
    font-size: 90%; 
    overflow-wrap: break-word;
    font-weight: bolder;

}
#q-graph .sent1 {
    left: 0px;
    background-color: #fff700;
    border-color: transparent;
    height: 0;
    transition: all 5s ease;
    bottom: 0;
}
#q-graph .sent2 {
    left: 0px;
    background-color: #f72585;
    border-color: transparent;
    height: 0;
    transition: all 5s ease;
    bottom: 0;
}
#q-graph .sent3 {
    left: 0px;
    background-color: #1dbd1d;
    border-color: transparent;
    height: 0;
    transition: all 5s ease;
    bottom: 0;
}
#q-graph .sent4 {
    left: 0px;
    background-color: #008000;
    border-color: transparent;
    height: 0;
    transition: all 5s ease;
    bottom: 0;
}
#q-graph .paid1 {
    left: 29px;
    background-color: #faa307;
    border-color: transparent;
    height: 0;
    transition: all 5s ease;
    bottom: 0;
}
#q-graph .paid2 {
    left: 29px;
    background-color: #b5179e;
    border-color: transparent;
    height: 0;
    transition: all 5s ease;
    bottom: 0;
}
#q-graph .paid3 {
    left: 29px;
    background-color: #008000;
    border-color: transparent;
    height: 0;
    transition: all 5s ease;
    bottom: 0;
}
#q-graph .paid4 {
    left: 29px;
    background-color: #d1fa07;
    border-color: transparent;
    height: 0;
    transition: all 5s ease;
    bottom: 0;
}
#ticks {
    position: relative;
    top: -310px;
    left: 2px;
    width: 390px;
    height: 300px;
    /* z-index: 1; */
    color: #000;
    font-size: 10px;
    font-family: "fira-sans-2", Verdana, sans-serif;
}
#ticks .tick {
    position: relative;
    /* border-bottom: 1px dotted #c4c4c4; */
    border-top: 1px dotted rgb(106, 105, 105);
    width: 390px;
    height: 25%;
}
#ticks .tick div {
    position: relative;
    
    /* top: -0.8em; */
    /* margin: 0 0 0 0.5em; */
    color: #000;
    height: 55px;
    width: 95px;
    background-color: #2bd9fe;
    text-align: center;
    font-family: "fira-sans-2", Verdana, sans-serif;
    font-weight: bold;
}
/* ===================== Added Classes For IntersectionObserver =================== */

#q-graph td.sent1.bar.inter1 {
    left: 0px;
    background-color: #ffbd00;
    border-color: transparent;
    height: 60px;
}
#q-graph td.sent2.bar.inter1 {
    left: 0px;
    background-color: #f72585;
    border-color: transparent;
    height: 90px;
}
#q-graph td.sent3.bar.inter1 {
    left: 0px;
    background-color: #1dbd1d;
    border-color: transparent;
    height: 95px;
}
#q-graph td.sent4.bar.inter1 {
    left: 0px;
    background-color: #4361ee;
    border-color: transparent;
    height: 260px;
}

/* =============== paid bar sections ================== */
#q-graph td.paid1.bar.inter1{
    left: 29px;
    background-color: #faa307;
    border-color: transparent;
    height: 87px;
}
#q-graph td.paid2.bar.inter1{
    left: 29px;
    background-color: #b5179e;
    border-color: transparent;
    height: 60px;
}
#q-graph td.paid3.bar.inter1{
    left: 29px;
    background-color: #008000;
    border-color: transparent;
    height: 160px;
}
#q-graph td.paid4.bar.inter1{
    left: 29px;
    background-color: #3f37c9;
    border-color: transparent;
    height: 260px;
}

