main h3{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: #FFFFFF;
    position: relative;
}
h6{
    position: relative;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 8px;
}
p{
    position: relative;
    font-weight: lighter;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: smaller;
    text-align: center;
    margin: 0%;
}
ul{
    position: relative;
    font-weight: lighter;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: smaller;
    text-align: center;
    padding-left: 35%;
    padding-right: 35%;
}
.iconify{
    position: relative;
    color:#2bd9fe;
    width: 100%;
    height: 50px;

}